/* breadcrumb */
.breadcrumb {
    list-style: none;
}
li.breadcrumb {
    display: inline-block;
    font-display: auto;
}
li+li.breadcrumb::before {
    padding: 0px 0px;
    content: "/";
}
li a.breadcrumb {
    text-decoration: none;
}
