@font-face {
  font-family: 'ChironSungHK';
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/ChironSungHK-R.ttf") format("truetype");
}
@font-face {
  font-family: 'ChironSungHK';
  font-style:  italic;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/ChironSungHK-R-It.ttf") format("truetype");
}

@font-face {
  font-family: 'ChironSungHK';
  font-style:  normal;
  font-display: auto;
  font-weight: 700;
  src: url("../fonts/ChironSungHK-B.ttf") format("truetype");
}
@font-face {
  font-family: 'ChironSungHK';
  font-style:  italic;
  font-display: auto;
  font-weight: 700;
  src: url("../fonts/ChironSungHK-B-It.ttf") format("truetype");
}
