@charset "UTF-8";

/* Light theme color */
$light-background: #ebdbb2;
$light-background-secondary: #d2d5b8;
$light-background-header: #d5c4a1;
$light-color: #3c3836;
$light-color-secondary: #665c45;
$light-border-color: #a89984;
$light-table-color: #a89984;

/* Dark theme colors */
$dark-background: #232425;
$dark-background-secondary: #689d6a;
$dark-background-header: #2a272b;
$dark-color: #efdab9;
$dark-color-secondary: #b3b3bd;
$dark-border-color: #78b0a0;
$dark-table-color: #78b0a0;

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

/* Variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

/* Content */
$max-width: 640px;