@charset "UTF-8";

/* Light theme color */
$light-background: rgb(246, 248, 249);
$light-background-secondary: #008cff;
$light-background-header: #fff;
$light-color: #636b71;
$light-color-secondary: #665c45;
$light-border-color: rgb(230, 233, 234);
$light-table-color: rgb(230, 233, 234);

/* Dark theme colors */
$dark-background: rgb(44, 38, 56);
$dark-background-secondary: rgb(242, 133, 36);
$dark-background-header: rgb(37, 32, 47);
$dark-color: #e0d5c0;
$dark-color-secondary: #b3b3bd;
$dark-border-color: rgba(255, 255, 255, 0.1);
$dark-table-color: rgba(255, 255, 255, 0.1);

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

/* Variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

/* Content */
$max-width: 640px;